body{
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0,auto;
    font-family: 'Newsreader', serif;
   
}
header{
    background-image: url(img/image-hero.jpg);
    height: 600px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}
nav{
   font-family: 'Montserrat', sans-serif;
}
 header p{
     /* border: 1px solid white; */
     padding: 12px; 
     margin: 20px;
    font-size: 40px;
    color: white;
    line-height: 40px;
    position: relative;
    top: 200px; 
} 
aside{
    position: relative;
    top: 100px;
}
aside p{
    font-size: 20px;
}

aside .aside{
    position: relative;
    top: 180px;
    height: 400px;
    padding: 0px, 30px;
    width: 400px;
    /* text-align: ; */
}
.creations{
    position: relative;
    top: 200px;
}
section{
    position: relative;
    top: 210px;
}
figcaption{
    position: relative;
    bottom : 50px;
    left: 30px;
    
}
 footer{
     position:  relative;
     top: 250px;
     background-color: black;
 }
 @media screen and (max-width: 764px){
     header{
         background-image: url(img/image-hero-2.jpg);
         background-size: cover;
         background-position-y: center;
       }
 
 }
